* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.containers {
    display: flex;
    flex-direction: column;
}

.header {
    height: 55px;
    background-color: rgb(5, 20, 34);
    padding: 0px 150px;
    border-bottom: 2.5px solid rgb(227, 1, 24);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
}

.logo {
    width: 250px;
    height: 50px;
    object-fit: contain;
    object-position: left;
}

.top {
    font-size: 15px;
    display: flex;
    list-style: none;
    gap: 20px;
}

/*----------------CONTAINER ONE----------------------*/
    
.container-one {
    height: 500px;
    background-color: rgb(5, 20, 34);
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 150px;

}

.left-content,
.right-content {
    height: 220px;
    width: 500px
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 50px;
}

 .p1 {
    font-size: 18px;
    padding: 0px 20px 5px 0px;
    color: #e5e7eb;
}

.button {
    width: 125px;
    height:30px;
    background-color: #e30118;
    border-radius: 10px;
    border-color: rgb(253, 217, 0); 
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
}

.main-image {

    height: 220px;
    width: 500px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 60px -16px rgb(253, 217, 0);
}

/*----------------CONTAINER TWO----------------------*/

.container-two {
    height: 500px;
    background-color: rgb(192, 191, 191);
    padding: 10px 150px 0px 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-two-content {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 250px 0px 250px;
}

.header3 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 40px;
    color: rgb(5, 20, 34);

}
.race-review,
.team-news,
.upcoming-race,
.behind-the-paddock {
    width: 175px;
    height: 175px;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid rgb(5, 20, 34);
    box-shadow: -20px -15px rgb(5, 20, 34);
}

p {
    width: 175px;
    margin-top: 10px;
    font-size: 18px;
    color: rgb(5, 20, 34);
}

.images,
.text  {
    display: flex;
    justify-content: space-between;
}

/*----------------CONTAINER THREE----------------------*/

.container-three {
    height: 325px;
    background-color: rgb(5, 20, 34);
    background-image: url(Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60%;
}

.quote-container {
    height: 250px;
    width: 500px; 
    margin: 80px 0px 0px 350px;
}

.quote {
    font-size: 25px;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 10px;
}

.quote,
.name,
.team {
    color: #e5e7eb;
}
/*----------------CONTAINER FOUR----------------------*/

.container-four {
    height: 400px;
    background-color: rgb(192, 191, 191);
    text-align: center;
    padding: 0px 150px 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.competition {
    display: flex;
    justify-content: space-between;
    height: 300px;
    width: 800px;
    background-color: rgb(5, 20, 34);
    border-radius: 10px;
    box-shadow: 60px -16px rgb(253, 217, 0);
}

.comp-image {
    background-image: url(../Odin_Project_Landing_Page/Images/competition.jpeg);
    background-size: cover;
    height: 300px;
    width: 500px;
    border-radius: 10px 0px 0px 10px;
}
 
.comp-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.comp-info {
    width: 260px;
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 30px; 
}

.comp-button {
    width: 125px;
    height:30px;
    background-color: #e30118;
    border-radius: 10px;
    border-color: rgb(253, 217, 0); 
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
}




/*----------------FOOTER----------------------*/

.footer {
    height: 50px;
    background-color: rgb(5, 20, 34);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center

}

.bottom {
    font-size: 15px;
    display: flex;
    gap: 150px;
    list-style: none;
}